{% extends 'dashboard/layout.html' %}
{% load i18n %}
{% load thumbnail %}
{% load staticfiles %}
{% load form_tags %}


{% block body_class %}{{ block.super }} create-page catalogue{% endblock %}

{% block title %}
	{{ title }} | {{ block.super }}
{% endblock %}

{% block breadcrumbs %}
    <ul class="breadcrumb">
        <li>
            <a href="{% url 'dashboard:index' %}">{% trans "Dashboard" %}</a>
        </li>
        <li class="active">
            <a href="{% url 'dashboard:settings:index' %}">{{ title }}</a>
        </li>
    </ul>
{% endblock %}

{% block headertext %}{{ title }}{% endblock %}

{% block dashboard_content %}
    <form action="{% if request.GET.urlencode %}?{{ request.GET.urlencode }}{% endif %}" method="post" class="form-stacked wysiwyg fixed-actions" data-behaviour="affix-nav-errors" autocomplete="off">
        {% csrf_token %}

        <div class="row">
            {% block tab_nav %}
                <div class="col-md-3">
                    <div data-spy="affix" class="affix-top" data-offset-top="200">
                        <div class="table-header">
                            <h3>{% trans "Sections" %}</h3>
                        </div>
                        <ul class="nav nav-list bs-docs-sidenav">
                            {% comment %}
                                The navigation below is filtered heavily on the product structure.
                                This intentionally is the only place where filtering is done, as
                                deployments are likely to want to override certain aspects of what
                                data is stored on products of a certain structure. This means that
                                only one template block (instead of all affected) has to be altered.
                            {% endcomment %}
                            {% block tabs %}
								{% for section, form in forms.items %}
								<li{% if forloop.first %} class="active"{% endif %}>
									<a href="#{{ section }}_settings" data-toggle="tab">
										{{ section }} Settings</a></li>
								{% endfor %}
                            {% endblock tabs %}
                        </ul>
                    </div>
                </div>
            {% endblock tab_nav %}

            <div class="col-md-9">
                <div class="tab-content">
					{% for section, form in forms.items %}
                    {# % block product_details % #}
					<div class="tab-pane{% if forloop.first %} active{% endif %}" id="{{ section }}_settings">
						<div class="table-header">
							<h3>{{ section }} Settings</h3>
						</div>
						<div class="well product-details">
							{# % block product_details_content % #}
								<span class="error-block">{{ form.non_field_errors }}</span>
								{% for field in form.hidden_fields %}
									{{ field }}
								{% endfor %}

								{% for field in form.visible_fields %}
									{% if 'attr' not in field.id_for_label %}
										{% include 'dashboard/partials/form_field.html' with field=field %}
									{% endif %}
								{% endfor %}
							{# % endblock product_details_content % #}
						</div>
					</div>
                    {# % endblock product_details % #}
					{% endfor %}
                </div>
            </div>
        </div>

        {% block fixed_actions_group %}
            <div class="fixed-actions-group">
                <div class="form-group">
                    <div class="pull-right">
                        <a href="{% url 'dashboard:index' %}">
                            {% trans "Cancel" %}
                        </a>
                        {% trans "or" %}
                        <button class="btn btn-primary btn-lg" name="action" type="submit" value="save" data-loading-text="{% trans 'Saving...' %}">
                            {% trans "Save" %}
                        </button>
                    </div>
                </div>
            </div>
        {% endblock fixed_actions_group %}
    </form>
{% endblock dashboard_content %}
