{% load category_tags %}

		<ul class="main-categories">
			{% category_tree depth=1 as tree_categories %}
			{% if tree_categories %}
				{% for tree_category, info in tree_categories %}
					{% if info.has_children %}
					<li class="top-tile">
						<a href="{{ tree_category.get_absolute_url }}">{{ tree_category.name }}</a>
						<ul class="dropdown-menu">
					{% else %}
					<li class="top-tile">
						<a href="{{ tree_category.get_absolute_url }}">{{ tree_category.name }}</a>
					</li>
					{% endif %}

					{% for close in info.num_to_close %}
						</ul>
					</li>
					{% endfor %}
				{% endfor %}
			{% endif %}
			{#			<li class="top-tile">#}
			{#				<a href="{% url 'catalogue:index' %}">{% trans "All products" %}</a>#}
			{#			</li> #}
			{% block nav_dropdown_extra_items %}
				{# <li><a href="{% url 'offer:list' %}">{% trans "Offers" %}</a></li> #}
			{% endblock %}
			{% block nav_extra %}
			{% endblock %}
		</ul>
