<!doctype html>
<html>
{% load static %}
<head>
	<title>{% block "title" %}Dux’ Dekes{% endblock %}</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width,initial-scale=1.0">
	<link rel="stylesheet" type="text/css" href="{% static 'duxdekes/css/layout.css' %}">
</head>

<body>
	<a class="a11y-link" href="#content">Content</a>
	<a class="a11y-link" href="#fullnav">Full site navigation</a>
	<header class="header">
		<div class="title-group">
			<div class="site-title">Dux’ Dekes</div>
			<div class="site-subtitle">Handcrafted decoys</div>
		</div>
		<ul class="main-categories">
			<li class="top-tile">
				<a href="/#unfinished">Unfinished Blanks</a>
			</li>
			<li class="top-tile">
				<a href="/#finished">Finished Carvings</a>
			</li>
			<li class="top-tile">
				<a href="/#instructions">Instructions</a>
			</li>
		</ul>
	</header>
	<main class="content" id="content">
	{% block "content" %}
	{% endblock %}
	</main>
	<footer id="fullnav" class="footer">
		<nav>
			<ul class="foot-nav">
				{% include 'partials/nav_secondary.html' %}
			</ul>
		</nav>
		<p>
			©2017 Dux' Dekes 
		</p>
	</footer>
</body>

</html>
