<!doctype html>
<html>
{% load product_categories product_tags static %}
<head>
	<title>{% block "title" %}Dux’ Dekes{% endblock %}</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width,initial-scale=1.0">
	<link rel="stylesheet" type="text/css" href="{% static 'duxdekes/css/layout.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'duxdekes/css/home.css' %}">
</head>

<body>
	<a class="a11y-link" href="#content">Content</a>
	<a class="a11y-link" href="#fullnav">Full site navigation</a>
	<header class="header">
		<div class="title-group">
			<div class="site-title">Dux’ Dekes</div>
			<div class="site-subtitle">Handcrafted decoys</div>
		</div>
		<ul class="main-categories">
			<li class="top-tile">
				<a href="#unfinished">Unfinished Blanks</a>
			</li>
			<li class="top-tile">
				<a href="#finished">Finished Carvings</a>
			</li>
			<li class="top-tile">
				<a href="#instructions">Instructions</a>
			</li>
		</ul>
	</header>
	<main class="content" id="content">
		<section id="unfinished">
			<header>
				<h1 class="content-title">Unfinished Blanks</h1>
			</header>
			<ul class="product-categories">
				{% for category in unfinished.categories %}
				<li>
					<a href="X{# % url 'listing' category.slug % #}">
						{{ category.name }}</a>
				</li>
				{% endfor %}
			</ul>
			<h2>What's new</h2>
			<div class="products">
				{% for product in unfinished.products %}
				{% render_product product %}
				{% endfor %}
			</div>
		</section>
		<section id="finished">
			<header>
				<h1 class="content-title">Finished Carvings</h1>
			</header>
			<p>
				The details in all of our decoys are fine-tuned, accurate, and
				precise. The
				high quality and attention to detail make them a work of art to add
				to your home.
			</p>
			<ul class="product-categories">
				{% for category in finished.categories %}
				<li>
					<a href="{# % url 'listing' category.slug % #}">
						{{ category.name }}</a>
				</li>
				{% endfor %}
			</ul>
			<h2>What's new</h2>
			<div class="products">
				{% for product in finished.products %}
				{% render_product product %}
				{% endfor %}
			</div>
		</section>
		<section id="instructions">
			<header>
				<h1 class="content-title">Instructions</h1>
			</header>
			<p>
				Our wood carving supplies will directly supplement your decoy
				painting and carving needs, and our Nancy Baur's easy to follow
				instruction packets are used by beginners, as well as advanced
				painters. Bruce Burk ranks among the master bird carvers in the
				country and is responsible for getting thousands of other carvers
				started.
			</p>
			<ul class="product-categories">
				{% for category in instructions.categories %}
				<li>
					<a href="{# % url 'listing' category.slug % #}">
						{{ category.name }}</a>
				</li>
				{% endfor %}
			</ul>
			<h2>What's new</h2>
			<div class="products">
				{% for product in instructions.products %}
				{% render_product product %}
				{% endfor %}
			</div>
		</section>
	</main>
	<footer id="fullnav">
		<nav>
			<ul class="foot-nav">
				<li class="nav-item"><a href="{% url "about" %}">About Us</a></li>
				<li class="nav-item"><a href="{% url "about-artist" %}">About the Artist</a></li>
				<li class="nav-item"><a href="{% url "contact" %}">Contact</a></li>
				{% product_categories %}
			</ul>
		</nav>
		<p>
			©2017 Dux' Dekes 
		</p>
	</footer>
</body>

</html>
