
#################
# Common values #
#################

DOMAIN = 'example.com'
WEBROOT = '/path/to/webroot'


################
# Contact page #
################

CONTACT_SUBJECT = "Dux' Dekes website message"
CONTACT_SENDER = "duxdekes@example.com"
CONTACT_RECIPIENTS = [ "example@example.com", ]


####################
# General settings #
####################


# Debug: should be False in production
DEBUG = True

# Site administrators
ADMINS = (
     ('Administrator', 'admin@{}'.format(DOMAIN)),
)


# Make this unique, and don't share it with anybody.
SECRET_KEY="""
"""

# Database
# https://docs.djangoproject.com/en/dev/ref/settings/#databases
DATABASES = {
    'default': {
        'ENGINE': 'django.db.backends.sqlite3',
        'NAME': os.path.join(BASE_DIR, 'db.sqlite3'),
    },

    # MySQL/MariaDB
#    "default": {
#        "ENGINE": "django.db.backends.mysql",
#        "NAME": "database_name",
#        "USER": "database_user",
#        "PASSWORD": "password",
#        "HOST": "", # Set to empty string for localhost.
#        "PORT": "", # Set to empty string for default.
#    },

    # Postgresql 
#    "default": {
#        "ENGINE": "django.db.backends.postgresql_psycopg2",
#        "NAME": "database_name",
#        "USER": "database_user",
#        "PASSWORD": "password",
#        "HOST": "", # Set to empty string for localhost.
#        "PORT": "", # Set to empty string for default.
#    },
}

# Timezones
TIME_ZONE = 'UTC'

