############################################################
#
# LOCAL SETTINGS
#
# A place to store settings that can be changed based on
# which host the site is running on, or whether we are in
# development, staging, or production.
#
############################################################

from os.path import join


####################
# General settings #
####################
DOMAIN = 'example.com'
DEBUG = True	# Should be False in production
SECRET_KEY="""
"""
TIME_ZONE = 'UTC'

# Site administrators
ADMINS = (
     ('Administrator', 'admin@{}'.format(DOMAIN)),
)


########################
# Filesystem locations #
########################
WEB_ROOT = '/path/to/webroot'
MEDIA_ROOT = join(WEB_ROOT, 'srv/media')
STATIC_ROOT = join(WEB_ROOT, 'srv/static')


#############
# Databases #
#############
DATABASES = {
    'default': {
        'ENGINE': 'django.db.backends.sqlite3',
        'NAME': os.path.join(WEB_ROOT, 'path/to/db.sqlite3'),
    },

    # MySQL/MariaDB
#    "default": {
#        "ENGINE": "django.db.backends.mysql",
#        "NAME": "database_name",
#        "USER": "database_user",
#        "PASSWORD": "password",
#        "HOST": "", # Set to empty string for localhost.
#        "PORT": "", # Set to empty string for default.
#    },

    # Postgresql 
#    "default": {
#        "ENGINE": "django.db.backends.postgresql_psycopg2",
#        "NAME": "database_name",
#        "USER": "database_user",
#        "PASSWORD": "password",
#        "HOST": "", # Set to empty string for localhost.
#        "PORT": "", # Set to empty string for default.
#    },
}


################
# Contact page #
################
CONTACT_SUBJECT = "Dux' Dekes website message"
CONTACT_SENDER = "duxdekes@example.com"
CONTACT_RECIPIENTS = [ "example@example.com", ]


###################
# Square Settings #
###################
SQUARE_ACCESS_TOKEN = ''
SQUARE_LOCATION_ID = ''


####################
# UPS API Settings #
####################
UPS_ACCOUNT = ''
UPS_PASSWORD = ''
UPS_LICENCE_NUMBER = ''
UPS_SHIPPER = UPSAddress()
UPS_SHIPPER.name = ''
UPS_SHIPPER.address_lines.append('')
UPS_SHIPPER.city = ''
UPS_SHIPPER.state_province = ''
UPS_SHIPPER.postal_code = ''
UPS_SHIPPER.country_code = ''
UPS_TESTING = False

