{% extends "layout.html" %}
{% load i18n product_tags static %}

{% block styles %}
	{{ block.super }}
	<link rel="stylesheet" type="text/css" href="{% static 'duxdekes/css/home.css' %}">
{% endblock %}

{% block header %}{% endblock %}

{% block content %}
		{% for parent_category in categories %}
		<section id="{{ parent_category.category.slug }}">
			<header>
				<h1 class="content-title">{{ parent_category.category.name }}</h1>
			</header>
			{% if parent_category.category.description %}
			{{ parent_category.category.description|safe }}
			{% endif %}
			<ul class="product-categories">
				{% for category in parent_category.sub_categories %}
				<li>
					<a href="{{ category.get_absolute_url }}">
						{{ category.name }}</a>
				</li>
				{% endfor %}
			</ul>
			<h2>What's new</h2>
			<div class="products container-fluid">
				<div class="row">
					{% for product in parent_category.products %}
					{% render_product product %}
					{% endfor %}
				</ol>
			</div>
		</section>
		{% endfor %}
{% endblock content %}
