{% extends "layout.html" %}


{% block title %}
Contact Us
{% endblock %}

{% block content %}
		<h1>Contact Dux' Dekes</h1>
		<p>
			From handcrafted duck decoys, to unfinished blanks you can paint
			yourself, to decoys of swans, geese, loons, and cats, Dux' Dekes is
			here to provide high-quality products and exceptional customer
			service.  If you're interested in any of our products, or simply
			have questions, please feel free to contact us below.
		</p>
		<p style="text-align: center">
			<strong>Dux' Dekes Decoy Co.</strong><br>
			1356 North Road, Greenwich, NY 12834 U.S.A.<br>
			Phone Orders: 800-553-4725 - Info/Fax: 518-692-7703<br>
			Email Address: <span id="contact-email" data-user="duxdekes"
				data-domain="duxdekes.com">duxdekes, the at symbol, then
				duxdekes.com</span>
		</p>
		<script language="javascript">
			const emailSpan = document.getElementById('contact-email');
			const address = emailSpan.dataset.user + '@' +
				emailSpan.dataset.domain;

			emailSpan.innerHTML = '<a href="mailto:' + address + '">' + address
				+ '</a>';
		</script>
{% endblock %}
