{% extends "layout.html" %}


{% block title %}
Contact Us
{% endblock %}

{% block content %}
		<h1>Contact Dux' Dekes</h1>
		<p>
			From handcrafted duck decoys, to unfinished blanks you can paint
			yourself, to decoys of swans, geese, loons, and cats, Dux' Dekes is
			here to provide high-quality products and exceptional customer
			service.  If you're interested in any of our products, or simply
			have questions, please feel free to contact us below.
		</p>
		<p style="text-align: center">
			<strong>Dux' Dekes Decoy Co.</strong><br>
			1356 North Road, Greenwich, NY 12834 U.S.A.<br>
			Phone Orders: 800-553-4725 - Info/Fax: 518-692-7703
		</p>
		<h2>Email Dux' Dekes</h2>
		<form method="post">
			{% csrf_token %}
			{% if form.non_field_errors|length %}
			<ul class="errors">
				{% for error in form.non_field_errors %}
				<li>{{ error }}</li>
				{% endfor %}
			</ul>
			{% endif %}
			<p class="form-group">
				{{ form.name.errors }}
				<label for="id_name">
					{{ form.name.label }}:<br>
					{{ form.name }}
				</label>
			</p>
			<p class="form-group contact-url">
				<label for="id_url">
					{{ form.url.label }}:<br>
					{{ form.url }}
				</label>
			</p>
			<p class="form-group">
				{{ form.email.errors }}
				<label for="id_email">
					{{ form.email.label }}:<br>
					{{ form.email }}
				</label>
			</p>
			<p class="form-group">
				{{ form.message.errors }}
				<label for="id_message">
					{{ form.message.label }}:<br>
					{{ form.message }}
				</label>
			</p>
			<p>
				<input type="submit" class="btn btn-default" value="Send Message">
			</p>
		</form>
{% endblock %}
