{% extends "oscar/checkout/payment_details.html" %}
{% load i18n %}

{% block extrahead %}
    <script type="text/javascript" src="https://sandbox.web.squarecdn.com/v1/square.js"></script>
    <script>
      const appId = '{{ square_app }}';
      const locationId = '{{ location_id }}';

      async function initializeCard(payments) {
        const card = await payments.card();
        await card.attach('#card-container');

        return card;
      }

      async function createPayment(token) {
        const body = JSON.stringify({
          locationId,
          sourceId: token,
        });

        const paymentResponse = await fetch('/payment', {
          method: 'POST',
          headers: {
            'Content-Type': 'application/json',
          },
          body,
        });

        if (paymentResponse.ok) {
          return paymentResponse.json();
        }

        const errorBody = await paymentResponse.text();
        throw new Error(errorBody);
      }

      async function tokenize(paymentMethod) {
        const tokenResult = await paymentMethod.tokenize();
        if (tokenResult.status === 'OK') {
          return tokenResult.token;
        } else {
          let errorMessage = `Tokenization failed with status: ${tokenResult.status}`;
          if (tokenResult.errors) {
            errorMessage += ` and errors: ${JSON.stringify(
              tokenResult.errors
            )}`;
          }

          throw new Error(errorMessage);
        }
      }

      // status is either SUCCESS or FAILURE;
      function displayPaymentResults(status) {
        const statusContainer = document.getElementById(
          'payment-status-container'
        );
        if (status === 'SUCCESS') {
          statusContainer.classList.remove('is-failure');
          statusContainer.classList.add('is-success');
        } else {
          statusContainer.classList.remove('is-success');
          statusContainer.classList.add('is-failure');
        }

        statusContainer.style.visibility = 'visible';
      }

      document.addEventListener('DOMContentLoaded', async function () {
		  console.log('Onload event started');
        if (!window.Square) {
          throw new Error('Square.js failed to load properly');
        }
		  console.log('Started payments setup');

        let payments;
        try {
          payments = window.Square.payments(appId, locationId);
        } catch {
			console.log('Missing credentials');
          const statusContainer = document.getElementById(
            'payment-status-container'
          );
          statusContainer.className = 'missing-credentials';
          statusContainer.style.visibility = 'visible';
          return;
        }

		  console.log('Payments created');
        let card;
        try {
          card = await initializeCard(payments);
        } catch (e) {
          console.error('Initializing Card failed', e);
          return;
        }

		  console.log('Card initialized');
        async function handlePaymentMethodSubmission(event, paymentMethod) {
          event.preventDefault();

          try {
            // disable the submit button as we await tokenization and make a payment request.
            cardButton.disabled = true;
            const token = await tokenize(paymentMethod);
            
			// Assign token to the hidden token field
            const tokenField = document.getElementById('id_token');
            tokenField.value = token;

            console.log('Token set: ' + token);

            // Submit the form to keep the Oscar process going
            document.getElementById('payment-form').submit();
          } catch (e) {
            cardButton.disabled = false;
            displayPaymentResults('FAILURE');
            console.error(e.message);
          }
        }

		  console.log('handlePaymentMethodSubmission defined');
        const cardButton = document.getElementById('card-token-submit');
        cardButton.addEventListener('click', async function (event) {
          await handlePaymentMethodSubmission(event, card);
        });

		  console.log('Onload event executed');
      });
    </script>
{% endblock %}

{% block extrastyles %}
	<style type="text/css">
		.sq-input {
		  border: 1px solid #CCCCCC;
		  margin-bottom: 10px;
		  padding: 1px;
		}
		.sq-input--focus {
		  outline-width: 5px;
		  outline-color: #70ACE9;
		  outline-offset: -1px;
		  outline-style: auto;
		}
		.sq-input--error {
		  outline-width: 5px;
		  outline-color: #FF9393;
		  outline-offset: 0px;
		  outline-style: auto;
		}
	</style>
{% endblock %}

{% block payment_details_content %}
	<div class="container-fluid">
		<noscript>
			<h1>Square requires Javascript</h1>
			<p>
				We apologize, but our payment processor requires that Javascript is
				enabled to use their service.
			</p>
		</noscript>
		<h1>Pay with Square</h1>
		<form id="payment-form" action="{% url 'checkout:preview' %}" novalidate method="post">
		  <div id="card-container"></div>
		  {% comment %}
			When submitting sensitive data on the payment details page (eg a bankcard)
			we don't want to save the data and so we pass the bound form to the preview
			template and render it in a hidden div.  Then the payment information will
			get re-submitted when the user confirms the order.
		  {% endcomment %}
		  {% csrf_token %}
		  <div style="display: none;">
			{{ square_form }}
		  </div>
		  <div class="form-group clearfix">
			<div class="row">
				<div class="col-sm-3 col-sm-offset-9">
					<button id="card-token-submit" class="btn btn-primary btn-lg btn-block"
						data-loading-text="{% trans 'Submitting...' %}">
					{% trans "Place order" %}</button>
				</div>
			</div>
		  </div>
		</form>
		<div id="payment-status-container"></div>
	</div>
{% endblock payment_details_content %}

