{% extends "checkout/checkout.html" %}
{% load i18n %}

{% block title %}
    {% trans "Order preview" %} | {{ block.super }}
{% endblock %}

{% block checkout_nav %}
    {% include 'checkout/nav.html' with step=4 %}
{% endblock %}

{% block checkout_title %}
    {% trans "Preview order" %}
{% endblock %}

{% block extrahead %}
<script type="text/javascript"
		src="https://js.squareup.com/v2/paymentform"></script> 
<script>
    var sqPaymentForm = new SqPaymentForm({
      // Replace this value with your application's ID (available from the merchant dashboard).
      // If you're just testing things out, replace this with your _Sandbox_ application ID,
      // which is also available there.
      applicationId: 'REPLACE_ME',
      inputClass: 'sq-input',
      cardNumber: {
        elementId: 'sq-card-number',
        placeholder: "0000 0000 0000 0000"
      },
      cvv: {
        elementId: 'sq-cvv',
        placeholder: 'CVV'
      },
      expirationDate: {
        elementId: 'sq-expiration-date',
        placeholder: 'MM/YY'
      },
      postalCode: {
        elementId: 'sq-postal-code',
        placeholder: 'Postal Code'
      },
      inputStyles: [
        // Because this object provides no value for mediaMaxWidth or mediaMinWidth,
        // these styles apply for screens of all sizes, unless overridden by another
        // input style below.
        {
          fontSize: '14px',
          padding: '3px'
        },
        // These styles are applied to inputs ONLY when the screen width is 400px
        // or smaller. Note that because it doesn't specify a value for padding,
        // the padding value in the previous object is preserved.
        {
          mediaMaxWidth: '400px',
          fontSize: '18px',
        }
      ],
      callbacks: {
        cardNonceResponseReceived: function(errors, nonce, cardData) {
          if (errors) {
            var errorDiv = document.getElementById('errors');
            errorDiv.innerHTML = "";
            errors.forEach(function(error) {
              var p = document.createElement('p');
              p.innerHTML = error.message;
              errorDiv.appendChild(p);
            });
          } else {
            // This alert is for debugging purposes only.
		    if (console) {
              console.log('Nonce received! ' + nonce + ' ' + JSON.stringify(cardData));
			}
            // Assign the value of the nonce to a hidden form element
            var nonceField = document.getElementById('card-nonce');
            nonceField.value = nonce;
            // Submit the form
            document.getElementById('form').submit();
          }
        },
        unsupportedBrowserDetected: function() {
          // Alert the buyer that their browser is not supported
        }
      }
    });
    function submitButtonClick(event) {
      event.preventDefault();
      sqPaymentForm.requestCardNonce();
    }
  </script>
{% endblock %}

{% block extrastyles %}
	<style type="text/css">
		.sq-input {
		  border: 1px solid #CCCCCC;
		  margin-bottom: 10px;
		  padding: 1px;
		}
		.sq-input--focus {
		  outline-width: 5px;
		  outline-color: #70ACE9;
		  outline-offset: -1px;
		  outline-style: auto;
		}
		.sq-input--error {
		  outline-width: 5px;
		  outline-color: #FF9393;
		  outline-offset: 0px;
		  outline-style: auto;
		}
	</style>
{% endblock %}

{% block place_order %}
	<noscript>
		<h1>Square requires Javascript</h1>
		<p>
			We apologize, but our payment processor requires Javascript is
			enabled to use their service.
		</p>
	</noscript>
	<h1>Pay with Square</h1>
	<form id="form" action="{% url 'checkout:preview' %}" novalidate method="post">
		{% csrf_token %}
		<div id="errors"></div>

		{% comment %}
			When submitting sensitive data on the payment details page (eg a bankcard)
			we don't want to save the data and so we pass the bound form to the preview
			template and render it in a hidden div.  Then the payment information will
			get re-submitted when the user confirms the order.
		{% endcomment %}
		<div style="display:none">
			{% block hiddenforms %}{% endblock %}
		</div>

		<p>
			<label for="sq-card-number">
				Credit Card
			</label>
			<div id="sq-card-number"></div>
		</p>
		<p>
			<label for="sq-cvv">
				CVV
			</label>
			<div id="sq-cvv"></div>
		</p>
		<p>
			<label for="sq-expiration-date">
				Expiration Date
			</label>
			<div id="sq-expiration-date"></div>
		</p>
		<p>
			<label for="sq-postal-code">
				Postal Code (of card billing address)
			</label>
			<div id="sq-postal-code"></div>
			<input type="hidden" id="card-nonce" name="nonce">
			<input type="hidden" name="action" value="place_order">
		</p>
		<div class="form-group clearfix">
			<div class="row">
				<div class="col-sm-3 col-sm-offset-9">
					<button type="submit" onclick="submitButtonClick(event)" id="card-nonce-submit"
						class="btn btn-primary btn-lg btn-block" value="{% trans "Place order" %}">
				</div>
			</div>
		</div>
	</form>
{% endblock place_order %}
