{% load i18n %}
<footer id="fullnav" class="footer">
    {% block footer %}
	<nav>
		<ul class="foot-nav">
		{% include "partials/nav_secondary.html" %}
		</ul>
	</nav>
        {% comment %}
            Could be used for displaying links to privacy policy, terms of service, etc.
            We have a CSS class defined:
                <ul class="footer_links inline">
                    ...
                </ul>
         {% endcomment %}
	<p class="copyright">
		©2017 Dux' Dekes 
	</p>
    {% endblock %}
</footer>
