{% load static thumbnail %}
<article class="product" itemscope itemtype="http://schema.org/Product">
	<div class="product-preview">
		{% thumbnail product.picture_set.first.image "220x220" crop=center as img %}
		<img src="{{ img.url }}" itemprop="image"
	   		alt="{{ product.picture_set.first.description }}">
		{% empty %}
		<img src="{% static "/products/img/no-image.svg" %}" alt=" "
			width="8em" height="8em">
		{% endthumbnail %}
	</div>
	<h1 itemprop="name">{{ product.description }}</h1>
	<table class="product-pricing">
		<caption>Materials</caption>
		<thead>
			<tr>
				<th scope="col">Options</th>
				<th scope="col">Price</th>
				<th scope="col">Cart</th>
			</tr>
		</thead>
		<tbody>
			<tr itemscope itemtype="http://schema.org/Offer">
				<td>Instructions</td>
				<td itemprop="price">${{ product.price|floatformat:2 }}</td>
				<td>
					<a href="#" class="cart">Add</a>
				</td>
			</tr>
			{% if product.blank_price %}
			<tr itemscope itemtype="http://schema.org/Offer">
				<td>Instructions with blank included</td>
				<td itemprop="price">${{ product.base_price|floatformat:2 }}</td>
				<td>
					<a href="#" class="cart">Add</a>
				</td>
			</tr>
			{% endif %}
		</tbody>
	</table>
</article>
