{% extends "duxdekes/base.html" %}
{% load product_categories product_tile static %}

{% block "title" %}
{{ category.description }}
{% endblock %}

{% block "content" %}
	<h1>{{ category.description }}</h1>
	{% if products|length %}
	<div class="products">
		{% for product in products %}
			{% product_tile product %}
		{% endfor %}
	</div>
	{% else %}
	<p>
		We're sorry, there are no products available in this category right now.
		Please try one of our other product categories:
	</p>
	<ul>
		{% product_categories %}
	</ul>
	{% endif %}
{% endblock %}
